@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #04850be3;
}

ul {
    list-style: none;
}

/******************* header   ***************************************/

.header-top {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.header-top-title a {
    font-size: 2rem;
    transition: .5s;
}

.header-top-nav ul {
    display: flex;
}

.header-top-nav li {
    margin: 0 10px;
}

.header-top-nav a {
    font-size: .9rem;
    font-weight: 800;
    transition: .5s;
}


/******************* health   ***************************************/

.index-body {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url("../images/old-runner.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}


.health {
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center
}


.health-title {
    font-size: 8vmin;
    margin-bottom: 2rem;
}

.health-text {
    font-size: 5vmin;
    margin-bottom: 2rem;
}

.health-link-enter {
    border: 1px solid #d3d0d0;
    padding: 12px 30px;
    border-radius: 70px;
    background-color: rgb(210, 208, 208, 0.3);
    font-size: 3vmin;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 2rem;
    transition: .5s;
}

.hero-link:hover {
    background: transparent;
}

/******************* login   ***************************************/

.login-body {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url("../images/cyclist.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}


.login {
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center
}

form {
    background: rgb(210, 208, 208, 0.2);
    padding: 6em;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border-left: 1px rgb(210, 208, 208, 0.3);
    border-top: 1px rgb(210, 208, 208, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

/******************* history   ***************************************/

.history-body {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url("../images/couple-run.jpeg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
}

.history-title {
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center
}

.history-month {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: #fff;
    padding-left: 20%;
    text-align: left;
    border-radius: 20px;
    border-left: 1px rgb(210, 208, 208, 0.3);
    border-top: 1px rgb(210, 208, 208, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
}

.history-month-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 20%;
}

.history-day {
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    border-left: 1px rgb(210, 208, 208, 0.3);
    border-top: 1px rgb(210, 208, 208, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
}

/******************* profile   ***************************************/


.profile-body {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url("../images/run-sun-man.jpeg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-main {
    margin-top: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #fff;
    padding: 2%;
    text-align: left;
    border-radius: 20px;
    border-left: 1px rgb(210, 208, 208, 0.3);
    border-top: 1px rgb(210, 208, 208, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
}

.profile-image {
    border-radius: 50%;
    width: 10%;
    margin-right: 10%
  }

  .profile-line-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .profile-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-line-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .profile-line-key-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-user {
    margin-top: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #fff;
    padding: 2%;
    text-align: left;
    border-radius: 20px;
    border-left: 1px rgb(210, 208, 208, 0.3);
    border-top: 1px rgb(210, 208, 208, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
}
